body {
	background-color: gray;
}
.main {
	color: turquoise;
	font-family: Fantasy;
	text-align: center;
}

.main2 {
	color: orange;
}

.main3 {
	color: lime;
}

.image1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
}